#fenetre {
    background: url("image.jpg") rgba(0, 0, 0, 0.4);
animation: gradient 100s linear infinite;
    opacity: 0;
    transition: opacity .0s ease-in-out;
    opacity: 1;
    
  }

   



#titre {
  
  text-shadow: 0px 0px 2px black;
  color: #111;
  font-family: DejaVu Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
}



#bouton {
    border:none;
    outline: none;
    color: #fff;
    background: rgba(40,40,40,40);
    border-radius: 10px;
}


#bouton:hover {
  background:linear-gradient(45deg, #ff0000, #ff7300, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  background-size:400% ;
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .0s ease-in-out ;
  border-radius: 10px;
  opacity: 1;
}

#regle {
  background: #876e45;
  color: #000;
  border-color: #000;
  box-shadow: 0px 0px 2px black;
  font-family: DejaVu Sans;
  font-size: 15px;
}

#texte {
  color: #111;
  font-family: DejaVu Sans;
  font-size: 20px;
}

#scale {
  color: rgba(0, 0, 0, 0);
  font-size: 20px;
  background-size: 100px 100px;
  min-width: 100px;
  min-height: 100px;
}

#caseBase {
  background: #fff;
}
#caseSurligner {
  background: #ede6de;
  border-color: #876e45;
}
#caseBloquee {
  background: #d9d9d9;
  border-color: #1a1a1a;
  color: #000;
}
#caseBloqueErreur {
  background: #ffb3b3;
  border-color: #f00;
}
#caseErreur {
  background: #ffb3b3;
  border-color: #f00;
}

@keyframes glowing {
  5%{background-position: 50% 0%; }
  50%{background-position: 100% 50%;}
  100%{background-position: 50% 50%; }
}
@keyframes gradient{
  5%{background-position: 50% 0%; }
  100%{background-position: 100% 50%;}
  50%{background-position: 50% 50%; }
}
